<!DOCTYPE html>
<html ng-app="asip.demo">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<title>Layout Demo</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.css" />
	<link rel="stylesheet" href="./dist/app.css" />
</head>
<body ng-controller="FrameCtrl">
	<div layout="row" layout-fill>
		<!-- side menu -->
		<md-sidenav id="side-menu" class="md-sidenav-left md-whiteframe-0dp" flex-gt-sm="25"
					ng-include="'template/side_menu.html'"
					md-is-locked-open="$mdMedia('gt-sm')" md-component-id="side-menu" ng-cloak>
		</md-sidenav>
		<!-- /side menu -->
		<!-- main content -->
		<div id="main-content" ng-class="{'lose-focus':dialog.open}" layout="column" flex>
			<md-toolbar id="global-toolbar" class="md-whiteframe-1dp" layout="row" ng-cloak>
				<div class="md-toolbar-tools">
					<md-button class="md-icon-button" aria-label="Menu" hide-gt-sm ng-click="toggleSideNav()">
			        	<md-icon><i class="material-icons">menu</i></md-icon>
			        </md-button>
			        <h2>{{title}}</h2>
			        <span flex></span>
		        </div>
			</md-toolbar>
			<md-content id="main-md-content" ng-view flex></md-content>
		</div>
		<!-- /main content -->
		<!-- right dialog -->
		<div id="right-dialog" class="md-whiteframe-0dp" layout="column" ng-show="dialog.open" ng-cloak>
			<md-toolbar class="md-whiteframe-1dp" layout="row" ng-cloak>
				<div class="md-toolbar-tools">
					<md-button ng-click="closeDialog()" class="md-icon-button" aria-label="Close">
			        	<md-icon><i class="material-icons">close</i></md-icon>
			      	</md-button>
			      	<h2>{{dialog.title}}</h2>
			        <span flex></span>
		      	</div>
			</md-toolbar>
			<!-- <md-divider></md-divider> -->
			<!-- <md-content ng-include="dialogUrl" ng-if="true"  onload="data = dialogData" flex></md-content> -->
			<md-content ng-include="dialog.tmpUrl" onload="dialog = dialog" flex></md-content>
		</div>
		<!-- /right dialog -->
	</div>

 	<script src="https://code.angularjs.org/1.5.3/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-route.min.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-animate.min.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-aria.min.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-messages.min.js"></script>
	<script src="https://code.angularjs.org/1.5.3/angular-sanitize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
	<script src="https://rawgit.com/pablojim/highcharts-ng/0.0.11/dist/highcharts-ng.min.js"></script>
	<script type="text/javascript" src = "./dist/app_bundle.min.js"></script>
</body>
</html>