#content {
	width: 100%;
	margin: 0px auto;
}

#main-container {
	width: 100%;
	padding-bottom: 75%;
	background-color: #dedede;
	position: relative;
}

.img-wrapper {
	width: 12%;
	height: 15%;
	/*background-color: red;*/
	background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
	position: absolute;
	transition: all 0.3s ease;
}
.img-wrapper img {
	width: 100%;
}

@media screen and (orientation: portrait) {
  #content {
    width: 80%;
  }
}

@media screen and (orientation: landscape) {
  #content {
    width: 70%;
  }
}