<div id="product-management" class="" layout="column">
	<md-list >
		<md-list-item class="md-2-line" ng-repeat="product in products track by product.id"
			ng-click="updateProduct(product)">
    		<div class="md-list-item-text" layout="row">
    			<div layout="column" flex>
	    			<h3>{{product.name}}</h3>
	    			<p >{{product.description}}</p>
    			</div>
    			<div>{{product.quantity}}</div>
    		</div>
  		</md-list-item>
  		<div></div>
	</md-list>
  <div class="nodata-sign" ng-if="products.length <= 0">
    <md-button ng-click="addPorduct()">There is no data. Add one!</md-button>
  </div>
</div>
<md-button id="add-product-btn" class="md-fab" ng-click="addPorduct()">
    <md-icon><i class="material-icons">add</i></md-icon>
</md-button>
