<div id="user-info" layout="column">
<md-card flex="100">
	<md-card-header>
		<md-card-header-text>
			<span class="md-title">User Info</span>
		</md-card-header-text>
	</md-card-header>
	<md-card-content>
		<div layout="row" layout-wrap class="md-body-2">
			<div flex="40" class="title">Name: </div><div flex="60">Asip Yang</div>
			<div flex="40" class="title">Email: </div><div flex="60">asipyang@gmail.com</div>
		</div>
		<p class="md-body-1">
			This SPA(Single Page Application) is built by AngularJS and Angular Material.
			There are some layouts inspired me during my development.
			I rebuild them here as a simplified one to be the references for myself.
		</p>
	</md-card-content>
	</md-card>
</div>