#product-management
	md-list
		background-color: $primary-500
		color: $font-color

		h3
			color: $font-color
		p
			color: $font-color-light

#add-product-btn
	position: absolute
	bottom: 0px
	right: 4%
	margin: 5px 3px

	md-icon
		color: $font-color

#product-dialog
	margin: 4% 0
	padding: 0 4%

	+respond-to(xs)
		padding: 0%

	md-card
		margin: 0px
	md-card-content
		background-color: $primary-500

	label
		color: $font-color-light
	input
		color: $font-color
	md-switch
		color: $font-color

	md-divider
		margin-top: 20px
		margin-bottom: 12px
	.md-button
		color: $font-color

